<section class="hero is-dark is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
         
              
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">

         <!---->



  
         <!---->

            <a class="navbar-item is-active">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    About Us
  </a>
  <div class="navbar-dropdown is-boxed">
    <a class="navbar-item">
    Overview
  </a>
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
   Membership
  </a>

  <div class="navbar-dropdown is-boxed">
    <a class="navbar-item">
    Overview
  </a>
  </div>
</div>


      <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
  Publication
  </a>

  <div class="navbar-dropdown is-boxed">
    <a class="navbar-item">
    Overview
  </a>
  </div>
</div>     

 <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
  Section
  </a>

  <div class="navbar-dropdown is-boxed">
    <a class="navbar-item">
    Overview
  </a>
  </div>
</div>   

 <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
   Advisory Board
  </a>

  <div class="navbar-dropdown is-boxed">
    <a class="navbar-item">
    Overview
  </a>
  </div>
</div> 
            <a class="navbar-item">
             Working Committee
            </a>
            <a class="navbar-item">
             Notice Board
            </a>
           
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        THE NASCENT RESEARCH ASSOCIATION OF INDIA
      </p>
      <h5>
       Research is Formalized Curiosity</h5>
      <p class="subtitle">
        GENESIS
      </p>
      <h3>
     <strong> The Nascent Research Association of India owes its origin to the foresight and initiative of four research enthusiasts- Dr. C. Jayalakshmi, Dr. Dharmasa Pawar, Mr. Aviroop Mukherjee and Mr. Arpit Mittal . It occurred to them that multi-disciplinary research needs utmost attention in order for the best of mankind-changing ideas into reality and so, might be stimulated if an annual research meet along wif a few sub-conferences, somewat on the lines of the Indian Science Congress Association, can be arranged. Spread over domains from Science, Engineering and Technology to Arts and Humanities, there are, currently, twelve research-sections namely, Basic Sciences, Engineering Sciences, Medical and Life Sciences, History and Political Sciences, Commerce and Economics, Business and Management, Creative and Performing Arts, Architecture and Interior Design, Social and Media Sciences, Travel and Hospitality Sciences, Sports and Physiotherapy and Psychology.
</strong>

      </h3>
    </div>
  </div>

<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a>Advisory Board</a>
          </li>
          <li>
            <a>Working Committee</a>
          </li>
          <li>
            <a>Notice</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</section>
<br>
<div class="title container">
Our Team NRAI Office Bearers
</div>
<br>
<section>
<div class="container">
<div class="columns is-mobile ">
  <div class="column">
  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "banashree.JPG" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Ms. Banashree Mondal</p>
        <p class="subtitle is-6"> General Secretary(Academic Affairs) </p>
      </div>
    </div>

    <div class="content">
      Institute of Neurosciences, Kolkata 185, Acharya Jagadish Chandra Bose Rd, Mullick Bazar,Park Street area, Kolkata-700017 
      <br>
      <p>
       M: 08902431523
<br>
E-mail: gsec.acad.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>
  </div>
  
  <div class="column">
  
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "aviroop1.jpeg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4"> Mr. Aviroop Mukherjee</p>
        <p class="subtitle is-6">  General Secretary(Membership Affairs)</p>
      </div>
    </div>

    <div class="content">
     Department of Biomedical Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
     <br>
      <p>
       M: 09830411831
<br>
E-mail: gsec.memb.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
  <div class="column">

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "arpit1.jpg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Mr. Arpit Mittal </p>
        <p class="subtitle is-6"> Joint Secretary </p>
      </div>
    </div>

    <div class="content">
     Department of Electronics and Communication Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
      <br>
      <p>
       M: 09790722570
<br>
E-mail: jsec.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
</div>
</div>
</section>


<br>
<hr class="container">
<br>
<section>
<div class="container">
<div class="columns is-mobile ">
  <div class="column">
  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "avishek.jpeg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Mr. Avishek Chatterjee </p>
        <p class="subtitle is-6"> Treasurer  </p>
      </div>
    </div>

    <div class="content">
      Department of Mechanical Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
       <br>
      <p>
       M: 07044123291
<br>
E-mail: treas.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>
  </div>
  
  <div class="column">
  
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "nilu.jpg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4"> Mr. Niladri Nandan Sarma</p>
        <p class="subtitle is-6"> Public Information &
Grievance Officer </p>
      </div>
    </div>

    <div class="content">
    Department of Electronics and Communication Engineering, SRM Institute of Science and Technology, Kattankulathur,Chennai- 603203
     <br>
      <p>
       M: 07381852501
<br>
E-mail: pio.gr.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
  <div class="column ">

<div class="card is-shady">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "madhur.jpeg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Mr. MADHUR MADAN  </p>
        <p class="subtitle is-6"> Public Relations Officer  </p>
      </div>
    </div>

    <div class="content">
    Department of Mechanical Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
      <br>
      <p>
       M: 8941862902
<br>
Email: madan.madhur3@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
</div>
</div>
</section>
<br>
<hr class="container">
<br>


<div class="timeline container is-rtl">
  <header class="timeline-header">
    <span class="tag is-large is-primary">Start</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker is-primary"></div>
     <div class="timeline-marker is-danger is-icon">
      <i class="fa fa-flag"></i>
    </div>
    <div class="timeline-content">
      <p class="heading">25th August, 2018</p>
      <p>Chief Guest: Shri Padmanabha Balakrishna Acharya, Honorable Governor of Nagaland</p>
    <p>SRM Institute of Science and Technology, Chennai
    </p>
    </div>
  </div>   
  <header class="timeline-header">
    <span class="tag is-large is-primary">End</span>
  </header>


  
</div>


<section class="accordions container">
  <article class="accordion is-active">
    <div class="accordion-header toggle">
      <p>Hello World</p>
    </div>
    <div class="accordion-body">
      <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </div>
  </article>
  <article class="accordion">
    <div class="accordion-header">
      <p>Hello World</p>
      <button class="toggle" aria-label="toggle"></button>
    </div>
    <div class="accordion-body">
      <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </div>
  </article>
  <article class="accordion">
    <div class="accordion-header">
      <p>Hello World</p>
      <button class="toggle" aria-label="toggle"></button>
    </div>
    <div class="accordion-body">
      <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </div>
  </article>
</section>