<section class="hero is-dark is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
           <%= image_tag  "logo.jpg" %><span>
         THE NASCENT RESEARCH ASSOCIATION OF INDIA</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              About Us
            </a>
            <a class="navbar-item">
             Membership
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Publication</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        THE NASCENT RESEARCH ASSOCIATION OF INDIA
      </p>
      <h5>
       Research is Formalized Curiosity</h5>
      <p class="subtitle">
        GENESIS
      </p>
      <h3>
     <strong> The Nascent Research Association of India owes its origin to the foresight and initiative of four research enthusiasts- Dr. C. Jayalakshmi, Dr. Dharmasa Pawar, Mr. Aviroop Mukherjee and Mr. Arpit Mittal . It occurred to them that multi-disciplinary research needs utmost attention in order for the best of mankind-changing ideas into reality and so, might be stimulated if an annual research meet along wif a few sub-conferences, somewat on the lines of the Indian Science Congress Association, can be arranged. Spread over domains from Science, Engineering and Technology to Arts and Humanities, there are, currently, twelve research-sections namely, Basic Sciences, Engineering Sciences, Medical and Life Sciences, History and Political Sciences, Commerce and Economics, Business and Management, Creative and Performing Arts, Architecture and Interior Design, Social and Media Sciences, Travel and Hospitality Sciences, Sports and Physiotherapy and Psychology.
</strong>

      </h3>
    </div>
  </div>

<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="">
            <a>Advisory Board</a>
          </li>
          <li>
            <a>Working Committee</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
          <li>
            <a>Components</a>
          </li>
          <li>
            <a>Layout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<section>
<div class="container">
<div class="columns is-mobile ">
  <div class="column">
  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "banashree.JPG" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Ms. Banashree Mondal</p>
        <p class="subtitle is-6"> General Secretary(Academic Affairs) </p>
      </div>
    </div>

    <div class="content">
      Institute of Neurosciences, Kolkata 185, Acharya Jagadish Chandra Bose Rd, Mullick Bazar,Park Street area, Kolkata-700017 
      <br>
      <p>
       M: 08902431523
<br>
E-mail: gsec.acad.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>
  </div>
  
  <div class="column">
  
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "aviroop1.jpeg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4"> Mr. Aviroop Mukherjee</p>
        <p class="subtitle is-6">  General Secretary(Membership Affairs)</p>
      </div>
    </div>

    <div class="content">
     Department of Biomedical Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
     <br>
      <p>
       M: 09830411831
<br>
E-mail: gsec.memb.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
  <div class="column">

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "arpit1.jpg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Mr. Arpit Mittal </p>
        <p class="subtitle is-6"> Joint Secretary </p>
      </div>
    </div>

    <div class="content">
     Department of Electronics and Communication Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
      <br>
      <p>
       M: 09790722570
<br>
E-mail: jsec.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
</div>
</div>
</section>


<br>
<hr class="container">
<br>
<section>
<div class="container">
<div class="columns is-mobile ">
  <div class="column">
  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "avishek.jpeg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Mr. Avishek Chatterjee </p>
        <p class="subtitle is-6"> Treasurer  </p>
      </div>
    </div>

    <div class="content">
      Department of Mechanical Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
       <br>
      <p>
       M: 07044123291
<br>
E-mail: treas.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>
  </div>
  
  <div class="column">
  
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "nilu.jpg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4"> Mr. Niladri Nandan Sarma</p>
        <p class="subtitle is-6"> Public Information &
Grievance Officer </p>
      </div>
    </div>

    <div class="content">
    Department of Electronics and Communication Engineering, SRM Institute of Science and Technology, Kattankulathur,Chennai- 603203
     <br>
      <p>
       M: 07381852501
<br>
E-mail: pio.gr.nrai@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
  <div class="column ">

<div class="card is-shady">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= image_tag  "madhur.jpeg" %>
     
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">Mr. MADHUR MADAN  </p>
        <p class="subtitle is-6"> Public Relations Officer  </p>
      </div>
    </div>

    <div class="content">
    Department of Mechanical Engineering, SRM Institute of Science and Technology, Kattankulathur, Chennai- 603203
      <br>
      <p>
       M: 8941862902
<br>
Email: madan.madhur3@gmail.com 
      </p>
       </div>
  </div>
</div>

  </div>
  
</div>
</div>
</section>
<br>
<hr class="container">
<br>

